 {{!-- sidebar --}}
    <div class="menu-container px-4 has-background-white ">
        <div class="menu-wrapper">
            <aside class="menu">
  <p class="menu-label pt-4">
    USER
  </p>
  <ul class="menu-list">
    <li ><a href="/dashboard" > <i class="fas fa-tachometer-alt icon"></i> Dashboard</a></li>
    <li ><a href="/customers" > <i class="fas fa-user icon"></i> Customers</a></li>
    <li ><a href="/history" > <i class="fas fa-history icon"></i> History</a></li>

  </ul>
  <p class="menu-label">
    USER SETTINGS
  </p>
  <ul class="menu-list">   
    

        <li ><a href="/profile" > <i class="fas fa-user-tag icon"></i>Profile</a></li>
        <li ><a href="/settings" > <i class="fas fa-user-cog icon"></i>Settings</a></li>
        <li ><a href="/logout" > <i class="fas fa-sign-out-alt icon"></i>Log Out</a></li>
        
      </ul>
    
  
</aside>
        </div>
    </div>

