{{>header}}
{{!-- navbar --}}
<nav class="navbar is-fixed-top box-shadow-y">
    <div class="navbar-brand">
        {{!-- <a href="#" class="navbar-burger toggler">
            <span></span>
            <span></span>
            <span></span>
        </a> --}}
        <img src="/public/images/brandcropped.png" width="100" height="80">
        <a href="#" class="navbar-item has-text-weight-bold has-text-black large">RG Realty</a>
        <a href="#" class="navbar-burger navbar-toggler">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
    <div class="navbar-menu has-background-white">
        <div class="navbar-start">
            <a href="/" class="navbar-item">
                <i class="fas fa-home icon"></i>Home
            </a>
            <a href="/about" class="navbar-item">
                About
            </a>
        </div>
      
    </div>
</nav>


<!-- Hero section -->
  
  
  <section class="hero has-background-black-bis is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered ">
        <h1 class="title has-text-white">
          Welcome to Realty Firm
        </h1>
        <h2 class="subtitle has-text-white">
          Your Trusted Partner in Real Estate
        </h2>
        <div class="buttons is-centered">
          <a class="button is-dark is-large" href="/login">Login</a>
          <a class="button is-light is-large" href="/register">Sign Up</a>
        </div>
      </div>
    </div>
  </section>



</body>
</html>