{{>header}}
{{!-- navbar --}}
<nav class="navbar is-fixed-top box-shadow-y">
    <div class="navbar-brand">
        <a href="#" class="navbar-burger toggler">
            <span></span>
            <span></span>
            <span></span>
        </a>
        <img src="/public/images/brandcropped.png" width="100" height="80">
        <a href="#" class="navbar-item has-text-weight-bold has-text-black large">RG Realty</a>
        <a href="#" class="navbar-burger navbar-toggler">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
    <div class="navbar-menu has-background-white">
        <div class="navbar-start">
            <a href="/" class="navbar-item">
                <i class="fas fa-home icon"></i>Home
            </a>
            <a href="/about" class="navbar-item">
                About
            </a>
        </div>
      
    </div>
</nav>


{{!-- navbar end--}}

<section class="hero has-background-grey-darker is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half">
          <form action="/users/login" class="box" method="POST">
            <div class="field">
              <label for="" class="label">Email</label>
              <div class="control has-icons-left">
                <input type="text" placeholder="Enter your Email" class="input" required name="email">
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="" class="label">Password</label>
              <div class="control has-icons-left">
                <input type="password" placeholder="*******" class="input" required name="password">
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="" class="checkbox">
                <input type="checkbox">
               Remember me
              </label>
            </div>
            <div class="field has-text-danger">
              <a href="/register">New User? Register</a>
            </div>
            <div class="field">
                <p>
                    
                    {{#if error}}
                    <h1 >{{error.msg}}</h1>
                    {{/if}}
                </p>
            </div>
            <div class="field">
              <button class="button is-success">
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
</section>
</body>
