{{>header}}

{{!-- navbar --}}
{{>navbar}}
{{!-- navbar end--}}
<div class="columns is-variable is-0"> 
    
    {{!-- sidebar --}}
{{>sidemenu}}

    <div class="column is-10-desktop is-offset-2-desktop is-9-tablet is-offset-3-tablet is-12-mobile dashboard">
            <div class="p-3">
                <div class="columns is-variable is-desktop">
                    <div class="column is-four-fifths">
                        <h1 class="title">User Id : {{user._id}}</h1>
                    </div>
                    <div class="column">
                        
                        <button class="is-warning" id="edit-profile"><i class="fas fa-edit icon"></i>Edit Profile</button>
                        
                    </div>
                </div>
                <div class="columns is-variable is-desktop">
                    <div class="column">
                        <div class="card">
                            <div class="card-content">
                                <form action="/profile" method="POST">
                                 <div class="field">
                                        <label for="" class="label">Name</label>
                                        <div class="control has-icons-left">
                                            <input type="text" placeholder="Enter your Name" class="input" required name="name" value="{{user.name}}" readonly>
                                            <span class="icon is-small is-left">
                                            <i class="fa fa-user"></i>
                                            </span>
                                        </div>
                                        </div>
                                        <div class="field">
                                        <label for="" class="label">Email</label>
                                        <div class="control has-icons-left">
                                            <input type="text" placeholder="Enter your Email" class="input" required name="email" value="{{user.email}}" readonly>
                                            <span class="icon is-small is-left">
                                            <i class="fa fa-envelope"></i>
                                            </span>
                                        </div>
                                        </div>
                                        {{!-- <div class="field">
                                        <label for="" class="label">Change Password?</label>
                                        <div class="control has-icons-left">
                                            <input type="password" placeholder="*******" class="input" required name="password">
                                            <span class="icon is-small is-left">
                                            <i class="fa fa-lock"></i>
                                            </span>
                                        </div>
                                        </div> --}}
                                        <div class="hidden py-3 is-right" id="button-field">
                                            <div class="field is-grouped" >
                                            <div class="control">
                                                <button class="button is-link" type="submit">Save</button>
                                            </div>
                                            <div class="control">
                                                <button class="button is-link is-light" type="reset">Cancel</button>
                                            </div>
                                        </div>
                                        </div>
                                        
                                </form>
                                
                              
                            </div>
                           
                        </div>
                       
                            
                        </div>
                    </div>
                
            </div>
    </div>

</div>

{{>footer}}